@using MongoDB.Bson
@model RWAT.ViewModel.QuestionsViewModel
@{
    Layout = null;
    if(Model.ShowNav == true)
    {
        Layout = "~/Views/Shared/Layout.cshtml";
    }
}
<script src="@Url.Content("~/Scripts/rwat/Questions.js")"></script>

<script type="text/javascript">
   $(function() {
       initQuestionsHub(@Html.Raw(Model.QuestionViewModels.ToJson()));
   })
</script>

<div class="container">
    <h3>All Questions</h3>
    <hr/>
</div>

<div data-bind="visible: questions().length == 0" id="noquestionsavailablemsg" class="container span7">
    No Questions Has Been Asked Yet
</div>

<div data-bind="foreach: questions" id="questions" class="container span7">
    <div class="eachquestion container roundedcorners">
            <div class="span5 numberanswerbox">
                <h3 data-bind="{text: answers.length}" class="numberofanswers"></h3>
                <div class="numberofanswerstext">answers</div>
            </div>
        
            <div class="span5 numberanswerbox">
                <h3 data-bind="{text: question.Vote.UserVotes.length}" class="numberofanswers"></h3>
                <div class="numberofanswerstext">votes</div>
            </div>
            
        <div  class="span5" style="margin-left: 50px; width:300px;">
            <a class="questionindexdescription" data-bind="attr:{href: Link , title: question.Title}, text: question.Title"></a>
            <div data-bind="text: question.Description"  class="questionindexdescription"></div>
            <b>Asked By:</b> 
            <div data-bind="text: user.UserName" style="display: inline-block;color: blue;"></div>
            <b>On:</b> <div data-bind="text: question.DateAsked" style="font-weight: bold;display: inline-block;color: red;"></div>
        </div>
    </div>
</div>