@using MongoDB.Bson
@model RWAT.ViewModel.QuestionsViewModel
@{
    Layout = null;
    if(Model.ShowNav == true)
    {
        Layout = "~/Views/Shared/Layout.cshtml";
      
    }
}

<script type="text/javascript">
    function QuestionWrapper(questionWrapper) {
        var self = this;
        self.question = questionWrapper["Question"];
        self.user = questionWrapper["User"];
        self.Link = "/Questions/Question?id="+self.question["_id"];
    }

    function QuestionsViewModel(initValue) {
        var self = this;
        self.questions = ko.observableArray(initValue);
    }
  
    
    $(function () {
        var questionhub = $.connection.questionhub;
        
        var questionsArray = $.map($.parseJSON('@Html.Raw(Model.QuestionViewModels.Select(qv=>new {qv.User,qv.Question}).ToArray().ToJson())'), function (questionWrapper) {
            return new QuestionWrapper(questionWrapper);
        });
        
        var questionsViewModel = new QuestionsViewModel(questionsArray);
        ko.applyBindings(questionsViewModel);


        questionhub.client.showQuestion = function (questionWrapper) {
            console.log(questionWrapper);
            var qw = $.parseJSON(questionWrapper);
            questionsViewModel.questions.push(new QuestionWrapper(qw));
        };

        $.connection.hub.start();

    });
</script>
<div class="container" style="margin-top: 5%;">
    <h3>All Questions</h3>
    <hr/>
</div>
<div data-bind="visible: questions().length == 0" style="height: auto;margin-top: 3%;margin-left: 20%;" class="container span7">
    No Questions Asked
</div>
<div data-bind="foreach: questions" style="height: auto;margin-top: 3%;margin-left: 20%;padding-bottom: 100px;" class="container span7">
    <div style="background-color:lavender;margin-top: 10px;width:inherit;height:auto;">
        <a data-bind="attr:{href: Link , title: question.Title}, text: question.Title"></a> -
        <div data-bind="text: question.Description" style="display: inline-block;"></div>
        <div data-bind="text: user.UserName"></div>
         <div style="display: inline-block;">
            Asked: <div data-bind="text: question.DateAsked" style="font-weight: bold; display: inline-block;"></div>
        </div>
    </div>
</div>