@using MongoDB.Bson
@model RWAT.ViewModel.QuestionsViewModel
@{
    Layout = null;
    if(Model.ShowNav == true)
    {
        Layout = "~/Views/Shared/Layout.cshtml";
      
    }
}

<script type="text/javascript">
    function QuestionWrapper(questionWrapper) {
        var self = this;
        self.question = questionWrapper["Question"];
        self.answers = questionWrapper["Answers"];
        self.user = questionWrapper["User"];
        console.log(self.question);
        self.Link = "/Questions/Question?id="+self.question["_id"];
    }

    function QuestionsViewModel(initValue) {
        var self = this;
        self.questions = ko.observableArray(initValue);
    }
  
    
    $(function () {
        var questionhub = $.connection.questionhub;
        
        var questionsArray = $.map(@Html.Raw(Model.QuestionViewModels.ToJson()), function (questionWrapper) {
            return new QuestionWrapper(questionWrapper);
        });
        
        var questionsViewModel = new QuestionsViewModel(questionsArray);
        ko.applyBindings(questionsViewModel);


        questionhub.client.showQuestion = function (questionWrapper) {
            console.log(questionWrapper);
            var qw = $.parseJSON(questionWrapper);
            questionsViewModel.questions.push(new QuestionWrapper(qw));
        };

        $.connection.hub.start();

    });
</script>

<div class="container">
    <h3>All Questions</h3>
    <hr/>
</div>

<div data-bind="visible: questions().length == 0" style="height: auto;margin-top: 3%;margin-left: 20%;" class="container span7">
    No Questions Has Been Asked Yet
</div>

<div data-bind="foreach: questions" style="height: auto;margin-left: 20%;padding-bottom: 100px;" class="container span7">
    
    <div  class="container" style="background-color:lavender;margin-top: 10px;width:inherit;height:auto;">
            <div class="span5" style="height:60px;width: auto;background-color: sandybrown;margin-left: 10px;">
                <h3 data-bind="{text: answers.length}" style="margin-top:0px;text-align: center;color:white;background-color:red;"></h3>
                <div style="display: inline-block;margin-top: -10px;">answers</div>
            </div>
        
            <div class="span5" style="height:60px;width: auto;background-color: sandybrown;margin-left: 10px;">
                <h3 data-bind="{text: question.Vote.UserVotes.length}" style="margin-top:0px;text-align: center;color:white;background-color:red;"></h3>
                <div style="display: inline-block;margin-top: -10px;">votes</div>
            </div>
            
            <div  class="span5" style="margin-left: 50px; width: auto;">
                <a data-bind="attr:{href: Link , title: question.Title}, text: question.Title"></a> -
                <div data-bind="text: question.Description" style="display: inline-block;"></div>
                <div data-bind="text: user.UserName"></div>
                <div style="display: inline-block;">
                    Asked: <div data-bind="text: question.DateAsked" style="font-weight: bold; display: inline-block;"></div>
                </div>
            </div>
    </div>
</div>