@using MongoDB.Bson
@model RWAT.Models.QuestionViewModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<script type="text/javascript">
    
    function Question(question) {
        var self = this;
        self.question = question["Question"];
        self.user = question["User"];
        
        self.gravatar = "http://www.gravatar.com/avatar/" + question["User"]["HashedEmail"] + "?d=identicon&f=y&s=50";
        var answerArray = $.map(self.question["Answers"], function (answer) {
            answer.gravatar = "http://www.gravatar.com/avatar/" + answer["User"]["HashedEmail"] + "?d=identicon&f=y&s=50";
            return answer;
        });

        self.answers = ko.observableArray(answerArray);
    }
    
    function Answer(answer) {
        var self = this;
        self.answer = answer;
    }
    
    $(function() {
        var initialQuestion = $.parseJSON('@Html.Raw(Model.ToJson())');
        var question = new Question(initialQuestion);
        var questionhub = $.connection.questionhub;
        
   
        questionhub.client.showAnswer = function (answer) {
            answer.gravatar = "http://www.gravatar.com/avatar/"+answer["User"]["HashedEmail"]+"?d=identicon&f=y&s=50";
            question.answers.push(answer);
        };
        
        $.connection.hub.start();
        ko.applyBindings(question);
    });


</script>

<div class="container span7" style="margin-left:20%;margin-top: 5%;padding-bottom: 100px;">
    <h3 data-bind="text: question.Title"  style="border-bottom: 1px solid red" ></h3>
    
    <div data-bind="text: question.Description" class="container span7" style="height:auto;"></div>
    
    <div  style="width: auto;background-color: lavender;padding: 5px;margin-top: 20px;float: right;">
        <img data-bind="attr: {src: gravatar,title: user.UserName}" style="display: inline-block;" />
        <div data-bind="text: user.UserName" style="display: inline-block;"></div>
        <div style="display: inline-block;">
            Asked: <div data-bind="text: question.DateAsked" style="font-weight: bold; display: inline-block;"></div>
        </div>
    </div>
    <div class="container span7"  style="width: inherit;border-bottom: 1px solid red;"></div>
    
    <div class="container span7" style="height: auto;margin-top: 10%;">
        <h3 style="text-decoration: underline;">Answers</h3>

        <div class="container span7" style="height: auto;" data-bind="foreach: answers">
            <div class="container span7" style="width: inherit;">
            
                <div data-bind="text: Body" style="height: auto;margin-top: 10px;word-wrap: break-word;background-color: palegoldenrod;"  ></div>

                 
                <div  style="width: auto;background-color: lavender;padding: 5px;margin-top: 20px;float: right;">
                    <img data-bind="attr: {src: gravatar,title: User.UserName}" style="display: inline-block;" />
                    <div data-bind="text: User.UserName" style="display: inline-block;"></div>
                    <div style="display: inline-block;">
                        Answered: <div data-bind="text: DateAnswered" style="font-weight: bold; display: inline-block;"></div>
                    </div>
                </div>
            </div>
        
            <div class="container span7" style="width: inherit;">
                <hr/>
            </div>
        </div>
    </div>


    <div id="signintoanswer" style="margin-top: 20px;padding: 10px;" class="container span7">
        @{
            if(User.Identity.IsAuthenticated)
            {
                Html.RenderAction("AnswerBox", new {questionid = Model.Question.Id.ToString()});
            }
            else
            {
                @Html.ActionLink("Sign In To Answer", "Index", "Account")
            }
        }
    </div>
</div>

