@using MongoDB.Bson
@model RWAT.ViewModel.QuestionViewModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/rwat/Question.js")"></script>
<script type="text/javascript">
    $(function () {
        initQuestionHub(@Html.Raw(Model.ToJson()));
    })
</script>

<div class="container span9" id="questioncontainer">
    <h3 data-bind="text: question.Title"  id="questiontitle" ></h3>
    
    <div>
        <div class="span1 votewrapper">
            <a href="javascript:void(0)" id="up">
                <img  data-bind="attr: {src: voteViewModel.upVotePath}" class="voteimages"/>
            </a>
            <div data-bind="text: voteViewModel.currentVote()" class="currentvote"></div>
            <a href="javascript:void(0)" id="down">
                <img  data-bind="attr: {src: voteViewModel.downVotePath}" class="voteimages"/>
            </a>
        </div>
        <div data-bind="text: question.Description" class="container span6" id="questiondescription"></div>
    </div>

    <div  class="questionanswerpanel">
        <img data-bind="attr: {src: gravatar,title: user.UserName}"/>
        <div data-bind="text: user.UserName" class="username"></div>

        <div style="display: inline-block;" class="datetimewrapper">
            Asked: <div data-bind="text: question.DateAsked" class="datetime"></div>
        </div>
    </div>

    <div class="container span9"  id="divider"></div>
    
    <div id="answerscontainer" class="container span9">
        <h3 id="answersheading">Answers</h3>
        <hr/>
        <div class="container span9" style="height: auto;" data-bind="foreach: answers">
            
            <div class="container span9 answerpanel">
                <div>
                    
                    <div class="span1 votewrapper">
                        <a href="javascript:void(0)" class="voteanswerup" data-bind="attr:{'data-id': answer._id}">
                            <img  data-bind="attr: {src: voteViewModel.upVotePath}" class="voteimages"/>
                        </a>
                        
                        <div data-bind="text: voteViewModel.currentVote()" class="currentvote"></div>
                        
                        <a href="javascript:void(0)" class="voteanswerdown" data-bind="attr:{'data-id': answer._id}">
                            <img  data-bind="attr: {src: voteViewModel.downVotePath}" class="voteimages"/>
                        </a>
                    </div>

                    <div data-bind="text: answer.Body" class="container span8 answerbody"></div>
                 
                    <div  class="questionanswerpanel">
                        <img data-bind="attr: {src: gravatar,title: answerer.UserName}" />
                        <div data-bind="text: answerer.UserName" class="username"></div>
                        <div class="datetimewrapper">
                            Answered: <div data-bind="text: answer.DateAnswered" class="datetimewrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="container span9" style="width: inherit;">
                <hr/>
            </div>
        </div>
    </div>


    <div id="signintoanswer" style="margin-top: 20px;padding: 10px;" class="container span9">
        @{
            <div data-bind="visible: answers().length==0">No Answers Posted To This Question.. Be The First!</div>
            if(User.Identity.IsAuthenticated)
            {
                Html.RenderAction("AnswerBox","Answer", new {questionid = Model.Question.QuestionId.ToString()});
            }
            else
            {
                @Html.ActionLink("Sign In To Answer", "Index", "Account")
            }
        }
    </div>
</div>

