@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/rwat/Account.js")"></script>

<div class="container span5" style="margin-left: 14%;margin-top: 50px;width: auto;">
    <div id="registerwrapper" class="span5 roundedcorners">
        @{
            Html.RenderAction("Register");
        }
    </div>

    <div class="span4">
    </div>

    <div id="loginwrapper" class="span5 roundedcorners">
        @{
            Html.RenderAction("Login");
        }
    </div>
</div>