@model dynamic

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container" id="homewelcomemsg">
    <h3>RWAT Virtual Lab.. for questions and answers</h3>
</div>

@{
    Html.RenderAction("Index", "Questions", new {showNav = false});
}